.header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 1;
  height: 10vh;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  background-color: rgb(20, 20, 20);
  color: white;
}

.header__container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left ul,
.header__right ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 20px;
}

.header__left li:hover,
.header__right li:hover {
  cursor: pointer;
}

.header__left img {
  width: 150px;
}
